@{
    ViewData["Title"] = "Home Page";
}

<partial name="_ShowToastrPartial" />

<div class="container py-5">
    <div class="text-center">
        <h1>Welcome to Product Inventory</h1>
        <p class="lead">Your ultimate solution for managing your products</p>
        <a href="/Account/Login" class="btn btn-primary btn-lg">Get Started</a>
    </div>
    <div class="text-center mt-5">
        <h2 class="section-heading">Why Choose This Inventory?</h2>
        <p class="lead">Product Inventory offers a comprehensive solution for managing your products and streamlining your business operations. Here are some reasons to choose us:</p>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="text-center feature">
                    <i class="fas fa-box-open fa-3x text-info feature-icon"></i>
                    <h3 class="mt-3">Organize Your Products</h3>
                    <p class="feature-description">Effortlessly organize your products and keep track of inventory levels.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center feature">
                    <i class="fas fa-chart-bar fa-3x text-danger feature-icon"></i>
                    <h3 class="mt-3">Easily Update Product</h3>
                    <p class="feature-description">You can easily update your existing products with straightforward and self-explained interface.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center feature">
                    <i class="fas fa-cogs fa-3x text-secondary feature-icon"></i>
                    <h3 class="mt-3">Flexible Configuration</h3>
                    <p class="feature-description">Customize the system to fit your unique business needs and workflows.</p>
                </div>
            </div>
        </div>
    </div>
</div>