@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var name = ViewData["Title"] as string;
}

<div class="row justify-content-center">
    <div class="col-md-10 col-lg-7 col-xl-5 mt-5">
        <div class="card">
            <div class="card-header pt-0">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item col-6 text-center">
                        <a class="nav-link fs-5" aria-current="true" href="/Account/Login" id="Login">Login</a>
                    </li>
                    <li class="nav-item col-6 text-center">
                        <a class="nav-link fs-5" href="/Account/Register" id="Register">Register</a>
                    </li>
                </ul>
            </div>

            <script>
                document.getElementById("@name").classList.add("active");
            </script>

            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
}